@-moz-document url("chrome://browser/content/browser.xul") {
  #outlook-notifier-btn[cui-areatype="menu-panel"],
  toolbarpaletteitem[place="palette"] > #outlook-notifier-btn {
    list-style-image: url("resource://jid1-uzhilmjzsvxuug-at-jetpack/outlook-notifier/data/outlook-32.png");
  }
  #outlook-notifier-btn {
    list-style-image: url("resource://jid1-uzhilmjzsvxuug-at-jetpack/outlook-notifier/data/outlook-16.png");
  }
  #outlook-notifier-btn:after {
    position: relative;
    display: table;
    font-size: 10px;
    text-align: center;
    content: attr(value);
    background-color: #235bcd;
    color: white;
    padding: 1px;
    border-radius: 2px;
    overflow: hidden;
  }
  #outlook-notifier-btn[value="?"]:after {
    background-color: #5e5e5e;
    margin: 10px 0px 0px -20px;
    padding: 2px;
  }
  #outlook-notifier-btn[value="..."]:after {
    margin: 8px 0px 0px -15px !important;
  }
  #outlook-notifier-btn[valueLength="1"]:after {
    margin: 8px 0px 0px -12px;
  }
  #outlook-notifier-btn[valueLength="2"]:after {
    margin: 10px 0px 0px -15px;
  }
  #outlook-notifier-btn[valueLength="3"]:after {
    margin: 10px 0px 0px -25px;
  }
  #outlook-notifier-btn[valueLength="4"]:after {
    margin: 10px 0px 0px -30px;
  }
}
